header{ background: black;padding: 10px x; margin: 10px}
a{text-decoration: none; color:#ffffff;}
li{color:#edb342; font-family: papyrus;}
body{background-color:#000;}
ul{margin: 0%; padding: 0%;}
p,li{font-family: 'Ubuntu', sans-serif;}
h2,h1,h4 {font-family:"Papyrus";}
h2{text-align: center;margin-top: 25%;color: white;}


.menu-container{ text-align:center; border: 0px; margin:0px; }


.header_logo{float: left; width: 20%; height: 100%; display: block; }
.header_logo img{height: 100%; width: 100%; object-fit: cover;}
.menu-container{float:right; margin: 0px; padding: 0px;}
.menu-container{transition: all 1s cubic-bezier(.215, .61, .355, 1);}
.header_menu_item{display: inline-block; padding: 10px; text-decoration: none;}
.header_menu_item a:hover{color: black;display: block;background:rgb(252, 252, 252) }
.header_icon_bar{display: block; float: right; padding: 10px; display: none;transition: all 1s cubic-bezier(.215, .61, .355, 1);}
.header_icon_bar span{display: block; height:3px; width:30px; background:#edb342; margin-bottom: 5px;}


.cover_copy{background-color: #edb342; height:90vh ;position:relative;z-index:1; padding: 20px;}
.cover_copy img{ display: block; margin: auto; height: 40%; padding-top: 100px;}
.cover_copy h1,h4{color: #000; text-align: center; margin:0px;}

/* h5{ padding-left: 10px; padding-right: 10px; text-align: center;}*/


.presentazione{padding:0; height:100vh; display:flex; background-color: #000000;}
.slider{width:50%;height: 100%; overflow: hidden; float: left; }
.slides{width:500%; height:100%; display: flex;}
.slidefirst{ width:20%; height:100%; display: flex;}
.slides input{display:none;}
.slide { width:20%;transition: 0.6s;}
#sl1{float: right;}
.slider img{ object-fit: cover;width:100%; height: 100%;}

.navigation_manual{width: 50%;margin-top: -20%;display: flex;margin-left: 30%;}
.manual-btn{border: 2px solid #edb342;padding: 5px; border-radius: 10px;cursor:pointer;transition: 2s;}
.manual-btn:not(:last-child){margin-right: 20px;}
.manual-btn:hover{background: black;}



#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -20%;}
#radio3:checked ~ .first{margin-left: -40%;}
#radio4:checked ~ .first{margin-left: -60%;}

#radio5:checked ~ .first{margin-left: 0;}
#radio6:checked ~ .first{margin-left: -20%;}
#radio7:checked ~ .first{margin-left: -40%;}
#radio8:checked ~ .first{margin-left: -60%;}

#radio9:checked ~ .first{margin-left: 0;}
#radio10:checked ~ .first{margin-left: -20%;}
#radio11:checked ~ .first{margin-left: -40%;}
#radio12:checked ~ .first{margin-left: -60%;}

#radio13:checked ~ .first{margin-left: 0;}
#radio14:checked ~ .first{margin-left: -20%;}
#radio15:checked ~ .first{margin-left: -40%;}
#radio16:checked ~ .first{margin-left: -60%;}

#radio17:checked ~ .first{margin-left: 0;}
#radio18:checked ~ .first{margin-left: -20%;}
#radio19:checked ~ .first{margin-left: -40%;}
#radio20:checked ~ .first{margin-left: -60%;}

#cs1{margin-left:20%;}
.container_slide{margin-left: 10%;margin-top: 5%; margin-bottom: 5%; width: 70%;}
.container{background-color:#edb342;float:right;width:50%;height: 100%;}
.container_slide p{margin: 10% 10% 0% 10%; text-align: center;color: white;}
.container li{display: block; text-align: center; padding: 20px;color: white;font: size 40px;}

/* modifica contatti*/
.section{ width:50%; height:100%;  background-color: #edb342;float: left;}
.section_input{ align-items: center;justify-content: center;}
.section_input input{ width:70%; margin: 10% 20% 0% 10%;padding:20px;border:0px; border-bottom: 1px solid black;
     background-color: #edb342; }
.button{display: inline-block;border: 1px solid #060606;padding: 0.2% 30% 0.2% 30%; margin: 10% 20% 0% 20%; transition: all 0.4s ease-in-out;}
.button:hover{color: white;background-color: rgb(0, 0, 0);transform: scale(1.1);}
input:focus{outline: none;}
input::placeholder{color: rgb(22, 22, 22);}
.container img{width: 80%; height:60%; margin: 10% 10% auto;object-fit: cover;}
.cover{height: 30vh;width: 100%;margin-top: 10%;position: relative;z-index: 4;background-color: rgb(0, 0, 0);}
.cover p{font-family: "Papyrus" ; font-size: 30px;margin: 9% 20% 20% 30%;position: absolute;color: rgb(3, 3, 3);}
.cover img{width: 100%; height: 100%;object-fit: cover;z-index: -1;}
.map{height: 50vh; width: 100%;}
.map iframe{width: 100%; height: 100%;}


.footer-container{ display: flex;margin: auto;margin-top:5% ;width: 80%;}
.footer p{float: right;}
.footer-container-contatti p,h3{color:#ffffff;display: inline;}
.footer-container-contatti{flex-grow: 1;position: relative;}
.footer-container-contatti ul{display: flex;position:absolute;justify-content: end;}
.footer-container-contatti img{width: 100%; height: auto;}
.footer-container-contatti li{display:block; width: 15%;padding:10px;}
.footer-container-orari p,h3{color:#ffffff;display: inline;}
.footer-container-orari{flex-grow: 1;margin-left:10%;}
.footer-container-orari h3{float:left; }
.footer-container-orari li{display: inline-block; width: 50%;margin-left:2%; color: white; }
.footer-container-posto p,h3{color:#ffffff;display: inline;}
.footer-container-posto{flex-grow:0.5;}
.footer-container-posto h3,p{margin:0px;}

.footer-container-copyright p{color:#ffffff;}
.footer-container-copyright {margin:10% 25% 2% 25% ;}


.img-res{height: auto; width: 100%;}
.wa-link{
  display: inline-block; 
  width: 60px; height:60px;
  position: fixed;
  bottom:20px;
  right:20px;
}
@media(max-width: 767px){
  .header_icon_bar{display: block;}
  .header_menu_item{display:block;}
  .menu-container{width:100%; height: 0px;overflow: hidden;}
  .is-open{height:767px ; overflow: auto;}

  .cover_copy img{padding-top: 200px; height: 20%;}
  .cover_copy{height: 767px;}
  .cover_copy h1{padding: 9px}
  .container_slide{width: 100%;margin-left: 0%;}
  #cs1{margin-left:0%;}
  .container p{margin: 25% 5% 0% 5%; font-size: 15px;}
  .container h2{margin-top: 30%; font-size: 35px;}
  .container li{font-size: 15px;}
  .container ul{margin-top: 20%;}
  .container h2{margin-left: 5%; margin-right: 5%;}

  .footer-container{display: flex;flex-direction: column;}
  .footer-container-contatti li{display:block; width: 5%;padding:10px;}
  .footer-container-orari{flex-grow: 1;margin: 12% 0% 10% 0%;}
  .footer-container-copyright {margin:10% 5% 2% 5% ; text-align: center;}
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
* html .clearfix        { zoom: 1;}
*:first_child+html .clearfix {zoom: 1;}

